body { 
margin: 0; 
font-family: Tahoma, Geneva, sans-serif;
background-image: url(../images/employee_bg.jpg);
background-repeat: no-repeat;
background-size: 100%;

} 

h1 {
padding: 50px;
font-size:  60px;
}

#container {
text-align: center;
}

table.searchtable {
margin: 0 auto;
}

table.addtable {
margin: 0 auto;
}

table.resulttable {
width: 50%;
margin: 0 auto;
font: 40px;
}

td {
padding: 6px;
text-align: left;
}

tr.displayresults td {
padding: 6px;
border: 1px solid black;
text-align: left;
}


h2.noemployeemessage {
text-align: center;
}

p.home {
padding-top: 150px;
font: 30px;
text-align: center;
}

