body { 
padding: 50px 100px; 
margin: 0; 
font-family: Tahoma, Geneva, sans-serif;
background-color: rgb(151, 255, 186); 
} 

h1.pageHeader { 
margin-left: 350px;
width: 40% 
} 

p.form_container {
margin-left: 550px;
} 
 

button.tictac { 
background-color:rgb(151, 255, 186); 
width: 120px; 
height: 120px; 
border-radius: 20px; 
border-width: 10px;
border-color: rgb(95, 66, 244);
font-size: 40px;
font-weight: bold;  
overflow: hidden; 
} 

p.catdogpic {
float: right;
margin-right: 400px;
margin-bottom: 50px;
}
 
p.instruction {
float: left;
margin-left: 20px;
}

button.butreset {
margin-left: 10px;
font-weight: bold;
width: 150px;
height: 50px; 
}
p.pdiagram{
text-align: center;
margin: 0 auto;
}

img.diagram {
border-style: solid;
border-width: 3px;
border-color: #550080;
border-radius: 20px;
margin: 0 auto;
padding: 30px;
}

p.catdog {
float: left;
}
 
label.feedback { 
margin-top: 140px; 
color: red; 
font-size: 50px; 
} 
 
 
