body {
padding: 20px 20px;
margin: 0;
font-family: Tahoma, Geneva, sans-serif;
background-color: #f9ce84;
}

table.prop-table {
width: 30%;
margin: 0 auto;
border: 10px solid black;
border-radius: 15px;
border-style: groove;
background-color: #ffe6b3;
}

td {
text-align: center;
font-size: 25px;
}