<!DOCTYPE html>
<html>
<head>
<title>Expression Presentation</title>
</head>
<body bgcolor="#ccddff ">

<h1>JSP Expression</h1>

<p>1.<strong>Expression</strong> that is evaluated and sent to the client each time the page is requested</p>
<p>2.Syntax example <%= Java Value %></p>
<p><%= new java.util.Date() %></p>
<p>3.Practical example, in the form of working code</p>
<p>4.Demonstrate how the jsp translator handles the technology, i.e., where does your jsp code end up in the servlet code?</p>
<p>5.Explain best practices</p>
<p>6.xplain any drawback to the concept, i.e., what shouldn’t it be used for?</p>

</body>
</html>